

@font-face {
  font-family: "OpenSansFine";
  src: url("./fonts/OpenSans/OpenSans-300.ttf");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal
}

@font-face {
  font-family: "OpenSans";
  src: url("./fonts/OpenSans/OpenSans-400.ttf");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal
}

@font-face {
  font-family: "DecimaMonoX";
  src: url("./fonts/DecimaMonoX/DecimaMonoX.ttf");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal
}

@font-face {
  font-family: "DecimaMonoXBold";
  src: url("./fonts/DecimaMonoX/DecimaMonoX-Bold.ttf");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal
}

@font-face {
  font-family: "Pragmatica";
  src: url("./fonts/Pragmatica/Pragmatica-Book.ttf");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal
}

@font-face {
  font-family: "PragmaticaFine";
  src: url("./fonts/Pragmatica/Pragmatica-Light.ttf");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal
}

html {
  -webkit-text-size-adjust: 100%;
  font-family: 'PragmaticaFine', 'OpenSans', sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
}

/*.web {
  background-image: url(./maket.png); 
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: 50% -35%;
}*/

h1, h2 {
  font-size: 5vw;
  margin: 0.67vw 0;
  font-family: 'Pragmatica', 'OpenSans', sans-serif;
  text-transform: uppercase;
}

p {
  font-family: 'PragmaticaFine', 'OpenSans', sans-serif;
  font-size: 1.25vw;
  padding-bottom: 1.2vw;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible
}

pre {
  font-family: monospace, monospace;
  font-size: 1em
}

a {
  background-color: transparent
}

b,
strong {
  font-weight: bolder
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em
}

small {
  font-size: 80%
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sub {
  bottom: -0.25em
}

sup {
  top: -0.5em
}

img {
  border-style: none
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0
}

button,
input {
  overflow: visible
}

button,
select {
  text-transform: none
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText
}

fieldset {
  padding: 0.35em 0.75em 0.625em
}

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal
}

progress {
  vertical-align: baseline
}

textarea {
  overflow: auto
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}

details {
  display: block
}

summary {
  display: list-item
}

template {
  display: none
}

[hidden] {
  display: none
}

.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1
}

.swiper-container-no-flexbox .swiper-slide {
  float: left
}

.swiper-container-vertical>.swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
  box-sizing: content-box
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0)
}

.swiper-container-multirow>.swiper-wrapper {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

.swiper-container-free-mode>.swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto
}

.swiper-slide {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform
}

.swiper-slide-invisible-blank {
  visibility: hidden
}

.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto
}

.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-transition-property: height, -webkit-transform;
  transition-property: height, -webkit-transform;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform
}

.swiper-container-3d {
  -webkit-perspective: 1200px;
  perspective: 1200px
}

.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10
}

.swiper-container-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0))
}

.swiper-container-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0))
}

.swiper-container-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0))
}

.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0))
}

.swiper-container-wp8-horizontal,
.swiper-container-wp8-horizontal>.swiper-wrapper {
  -ms-touch-action: pan-y;
  touch-action: pan-y
}

.swiper-container-wp8-vertical,
.swiper-container-wp8-vertical>.swiper-wrapper {
  -ms-touch-action: pan-x;
  touch-action: pan-x
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  left: 10px;
  right: auto
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  right: 10px;
  left: auto
}

.swiper-button-prev.swiper-button-white,
.swiper-container-rtl .swiper-button-next.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")
}

.swiper-button-next.swiper-button-white,
.swiper-container-rtl .swiper-button-prev.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")
}

.swiper-button-prev.swiper-button-black,
.swiper-container-rtl .swiper-button-next.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")
}

.swiper-button-next.swiper-button-black,
.swiper-container-rtl .swiper-button-prev.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")
}

.swiper-button-lock {
  display: none
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: 300ms opacity;
  transition: 300ms opacity;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10
}

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal>.swiper-pagination-bullets {
  bottom: 10px;
  left: 0;
  width: 100%
}

.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transform: scale(0.33);
  transform: scale(0.33);
  position: relative
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
  -webkit-transform: scale(1);
  transform: scale(1)
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
  -webkit-transform: scale(1);
  transform: scale(1)
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
  -webkit-transform: scale(0.66);
  transform: scale(0.66)
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
  -webkit-transform: scale(0.33);
  transform: scale(0.33)
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  -webkit-transform: scale(0.66);
  transform: scale(0.66)
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  -webkit-transform: scale(0.33);
  transform: scale(0.33)
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: 0.2
}

button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #007aff
}

.swiper-container-vertical>.swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0px, -50%, 0);
  transform: translate3d(0px, -50%, 0)
}

.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 6px 0;
  display: block
}

.swiper-container-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 8px
}

.swiper-container-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  display: inline-block;
  -webkit-transition: 200ms top, 200ms -webkit-transform;
  transition: 200ms top, 200ms -webkit-transform;
  transition: 200ms transform, 200ms top;
  transition: 200ms transform, 200ms top, 200ms -webkit-transform
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 4px
}

.swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  white-space: nowrap
}

.swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transition: 200ms left, 200ms -webkit-transform;
  transition: 200ms left, 200ms -webkit-transform;
  transition: 200ms transform, 200ms left;
  transition: 200ms transform, 200ms left, 200ms -webkit-transform
}

.swiper-container-horizontal.swiper-container-rtl>.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transition: 200ms right, 200ms -webkit-transform;
  transition: 200ms right, 200ms -webkit-transform;
  transition: 200ms transform, 200ms right;
  transition: 200ms transform, 200ms right, 200ms -webkit-transform
}

.swiper-pagination-progressbar {
  background: rgba(0, 0, 0, 0.25);
  position: absolute
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #007aff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: left top;
  transform-origin: left top
}

.swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  -webkit-transform-origin: right top;
  transform-origin: right top
}

.swiper-container-horizontal>.swiper-pagination-progressbar,
.swiper-container-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0
}

.swiper-container-vertical>.swiper-pagination-progressbar,
.swiper-container-horizontal>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0
}

.swiper-pagination-white .swiper-pagination-bullet-active {
  background: #ffffff
}

.swiper-pagination-progressbar.swiper-pagination-white {
  background: rgba(255, 255, 255, 0.25)
}

.swiper-pagination-progressbar.swiper-pagination-white .swiper-pagination-progressbar-fill {
  background: #ffffff
}

.swiper-pagination-black .swiper-pagination-bullet-active {
  background: #000000
}

.swiper-pagination-progressbar.swiper-pagination-black {
  background: rgba(0, 0, 0, 0.25)
}

.swiper-pagination-progressbar.swiper-pagination-black .swiper-pagination-progressbar-fill {
  background: #000000
}

.swiper-pagination-lock {
  display: none
}

.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1)
}

.swiper-container-horizontal>.swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%
}

.swiper-container-vertical>.swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%
}

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0
}

.swiper-scrollbar-cursor-drag {
  cursor: move
}

.swiper-scrollbar-lock {
  display: none
}

.swiper-zoom-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center
}

.swiper-zoom-container>img,
.swiper-zoom-container>svg,
.swiper-zoom-container>canvas {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
  object-fit: contain
}

.swiper-slide-zoomed {
  cursor: move
}

.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  animation: swiper-preloader-spin 1s steps(12, end) infinite
}

.swiper-lazy-preloader:after {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat
}

.swiper-lazy-preloader-white:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")
}

@-webkit-keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000
}

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out
}

.swiper-container-fade .swiper-slide {
  pointer-events: none;
  -webkit-transition-property: opacity;
  transition-property: opacity
}

.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events: none
}

.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto
}

.swiper-container-cube {
  overflow: visible
}

.swiper-container-cube .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
  visibility: hidden;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 100%;
  height: 100%
}

.swiper-container-cube .swiper-slide .swiper-slide {
  pointer-events: none
}

.swiper-container-cube.swiper-container-rtl .swiper-slide {
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-active .swiper-slide-active {
  pointer-events: auto
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-prev,
.swiper-container-cube .swiper-slide-next+.swiper-slide {
  pointer-events: auto;
  visibility: visible
}

.swiper-container-cube .swiper-slide-shadow-top,
.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden
}

.swiper-container-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  z-index: 0
}

.swiper-container-flip {
  overflow: visible
}

.swiper-container-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1
}

.swiper-container-flip .swiper-slide .swiper-slide {
  pointer-events: none
}

.swiper-container-flip .swiper-slide-active,
.swiper-container-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto
}

.swiper-container-flip .swiper-slide-shadow-top,
.swiper-container-flip .swiper-slide-shadow-bottom,
.swiper-container-flip .swiper-slide-shadow-left,
.swiper-container-flip .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden
}

.swiper-container-coverflow .swiper-wrapper {
  -ms-perspective: 1200px
}

.negative {
  color: #fff;
  background-color: #000;
}

.negative p {
  color: #fff
}

.negative a {
  color: #fff;
  text-decoration: underline;
}


.negative a:hover {
  color: #fff;
  text-decoration: none;
}



.negative .text ul {
  color: #fff
}

.bordered-wave {
  position: relative;
  background-color: #000;
  padding: 0;

}

.bordered-wave::before,
.bordered-wave::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 8.1vw;
  left: 0;
  top: -7.6vw;
  background-size: contain;
  background-position: center;
  background-repeat: repeat-x;
  background-image: url(./img/wave.svg)
}

.bordered-wave::after {
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
  top: initial;
  bottom: -7.6vw;
}




.mobile .bordered-wave {
  position: relative;
  background-color: #000;
  padding: 0;

}

.mobile .bordered-wave::before,
.mobile .bordered-wave::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 12rem;
  left: 0;
  top: -11.5rem;
  background-size: contain;
  background-position: center;
  background-repeat: repeat-x;
  background-image: url(./img/wave.svg)
}

.mobile .bordered-wave::after {
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
  top: initial;
  bottom: -11.5rem;
}

.sa-title {
  margin-left: -2vw;
}

.way-row {
  padding-bottom: 10vw;
}

.register {
  font-family: 'Pragmatica', 'OpenSans', sans-serif;
  font-size: 2.4vw;
  text-transform: uppercase;
}

.row {
  padding-top: 5vw;
}


.title {
  padding-top: 9vw;
}

.map {
  padding-top: 8vw; 
}


.crossed::before
{
  position: absolute;
  content: "";
  width: 1.8vw;
  height: 1.8vw;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(./img/cross.svg);
  z-index: 3;
  margin-left: -3vw;
  margin-top: 0.5vw;
  
}

.mobile .crossed::before
{
  position: absolute;
  content: "";
  width: 4.5rem;
  height: 4.5rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(./img/cross.svg);
  z-index: 3;
  margin-left: -6rem;
  margin-top: 0.5rem;
  
}


.pre-camoe::before
{
  position: absolute;
  content: "";
  width: 28vw;
  height: 28vw;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(./img/3arrows.svg);
  z-index: 3;
  margin-top: 8vw;
  
}


.way {
  margin-top: -5vw; 
  margin-left: 1.5vw;
  width: 60%;
  align-self: right;
}


.ticker {
  padding-top: 34px;
  padding-bottom: 28px;
  margin-top: 0rem;

  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
}

.ticker .slider-container {
  width: 100%;
}

.ticker .ticker_title {
  font-family: "DecimaMonoXBold";
  font-size: 2vw;
  line-height: 1;
  color: #FF7070;
  text-transform: uppercase;
  letter-spacing: 0.01vw;
  text-align: center
}


.icon {
    display: inline-flex;
    align-self: center;
}

.icon svg, .icon img {
    height: 4vw;
    width: 10vw;
}

.icon.baseline svg, .icon img {
    top: 0.125vw;
    position: relative;
}

.stenograffia {
  padding-top: 3vw !important;

}



.arrow-icon {
    display: inline-flex;
    align-self: center;
    padding: 0 3vw;
}

.arrow-icon svg, .arrow-icon img {
    width: 16vw;
}

.arrow-icon.baseline svg, .arrow-icon img {
    top: 0.125vw;
    position: relative;
}

.spektr {
  z-index: 3;
  margin-top: -10vw;
}

.explication {
  font-family: 'DecimaMonoXBold';
  font-size: 1.5vw;
  text-transform: uppercase;
}

.exps {
    display: flex;
    align-items: flex-end;
}


.exps-2 {
    display: flex;
    align-items: flex-end;
    margin-top: 1.4vw; 
    margin-left: 4vw; 
}

.omsk {
  z-index: 3;
}

.kids {
  z-index: 1;
  margin-top: -14vw;
}

.omsk-exp {
  /*margin-left: 3rem;*/
  margin-top: -1vw;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu {
    display: flex;
    justify-content: space-around;
}


.social {
  color: black;
  font-size: 1.5vw;
  font-family: 'Pragmatica', 'OpenSans', sans-serif;
  text-decoration: underline;
}

.social:hover {
  color: black;

  font-family: 'Pragmatica', 'OpenSans', sans-serif;
  text-decoration: none;
}

.social:visited {
  color: black;

  font-family: 'Pragmatica', 'OpenSans', sans-serif;
  text-decoration: underline;
}

.dates {
  font-family: 'PragmaticaFine', 'OpenSans', sans-serif;
  font-size: 3vw;
  text-transform: uppercase;
}

/*
.dates::after
{
  position: absolute;
  content: "";
  height: 23rem;
  width: 23rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(./img/dates.svg);
  z-index: 3;
  top: 6rem;
  left: 3rem;
}*/

.dates-pic {
  margin-top: -13vw; 
  z-index: 3;
  width:65%;
  align-content: center;
}

.dates-pic-mob {
  display: block;
  margin-top: -3rem; 
  z-index: 3;
  width:70%;
  margin-left: auto;
  margin-right: 6rem;
  padding-bottom: 5rem;
}


.contacts p {
  font-family: 'PragmaticaFine', 'OpenSans', sans-serif;
  font-size: 1.4vw;
  text-transform: uppercase;
  padding-bottom: 0.25vw !important;
}


.abzac {
  padding-top: 1vw !important;
}

h3 {
  font-family: "DecimaMonoXBold";
  font-size: 1.4vw;
  text-transform: uppercase;
  text-align: center;
}


.partners {
  padding-top: 8vw !important;
  padding-bottom: 10vw !important;
}










@namespace svg url(http://www.w3.org/2000/svg);

svg|a, svg|a:link, svg|a:visited, svg|a:hover, svg|a:active {
  cursor: pointer;
  outline: none; -moz-outline-style: none;
}

svg|a image, svg|a:link image, svg|a:visited image, svg|a:hover image, svg|a:active image {
  cursor: pointer;
  outline: none; -moz-outline-style: none;
}

svg|a g, svg|a:link g, svg|a:visited g, svg|a:hover g, svg|a:active g {
  cursor: pointer;
  outline: none; -moz-outline-style: none;
}


.reg {
  padding-top: 5vw !important;
}


@media (min-width: 320px) {
  .web {
    display: none
  }
}

@media (min-width: 480px) {
  .web {
    display: block
  }
}

.mobile {
  font-size: 1.6rem;
  line-height: 1.4;
  

}
@media (min-width: 320px) {
  .mobile {
    display: block
  }
}

@media (min-width: 480px) {
  .mobile {
    display: none
  }
}

.mobile p {
  font-size: 3rem;
}

.mobile .register {
  font-size: 2.2rem;
}

.mobile .ticker .ticker_title {
  font-family: "DecimaMonoXBold";
  font-size: 1.6rem;
  line-height: 1;
  color: #FF7070;
  text-transform: uppercase;
  letter-spacing: 0.01rem;
  text-align: center
}


.mobile .explication {
  font-size: 2rem;
  
}

.menu-mobile {
    font-size: 3rem;
    text-align: center;
    line-height: 2
}

.dates-mobile {
  font-family: 'PragmaticaFine', 'OpenSans', sans-serif;
  font-size: 7rem;
  text-transform: uppercase;
}


.mobile h3 {
  font-size: 3rem;
}


.dates-row {
  padding-top: 1.5vw !important;
}

.tasya {width: 90%}


.starred-1::before {
  position: absolute;
  content: "";
  height: 15vw;
  width: 15vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(./img/star.svg);
  z-index: 3;
  margin-top: -16vw;
  margin-left: 50vw;  
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}


.starred-2::before {
  position: absolute;
  content: "";
  height: 15vw;
  width: 15vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(./img/star.svg);
  z-index: 3;
  margin-top: -4vw;
  margin-left: 60vw;
  -webkit-transform: rotate(155deg);
  -moz-transform: rotate(155deg);
  -ms-transform: rotate(15deg);
  -o-transform: rotate(155deg);
  transform: rotate(155deg);
}

.starred-3::before {
  position: absolute;
  content: "";
  height: 15vw;
  width: 15vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(./img/star.svg);
  z-index: 3;
  margin-top: -8vw;
  margin-left: -8vw;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}


.starred-4::after {
  position: absolute;
  content: "";
  height: 15vw;
  width: 15vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(./img/star.svg);
  z-index: 3;
  margin-top: -8vw;
  margin-left: 70vw;
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  transform: rotate(5deg);
}


.starred-5::after {
  position: absolute;
  content: "";
  height: 15vw;
  width: 15vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(./img/star-white.svg);
  z-index: 3;
  margin-top: -10vw;
  margin-left: 49vw;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}

.starred-6::after {
  position: absolute;
  content: "";
  height: 15vw;
  width: 15vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(./img/star-white.svg);
  z-index: 3;
  margin-top: -7.5vw;
  margin-left: -7.5vw;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}


.starred-7::after {
  position: absolute;
  content: "";
  height: 15vw;
  width: 15vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(./img/star-white.svg);
  z-index: 3;
  margin-top: -15vw;
  margin-left: -20vw;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}



.starred-8::after {
  position: absolute;
  content: "";
  height: 15vw;
  width: 15vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(./img/star-white.svg);
  z-index: 3;
  margin-top: 10vw;
  margin-left: 22vw;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}




.starred-9::before {
  position: absolute;
  content: "";
  height: 15vw;
  width: 15vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(./img/star-black.svg);
  z-index: 3;
  margin-top: -5vw;
  margin-left: -21vw;
  -webkit-transform: rotate(13deg);
  -moz-transform: rotate(13deg);
  -ms-transform: rotate(13deg);
  -o-transform: rotate(13deg);
  transform: rotate(13deg);
}



.starred-10::before {
  position: absolute;
  content: "";
  height: 15vw;
  width: 15vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(./img/star-black.svg);
  z-index: 3;
  margin-top: 7vw;
  margin-left: 20vw;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}


.starred-11::after {
  position: absolute;
  content: "";
  height: 15vw;
  width: 15vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(./img/star-black.svg);
  z-index: 3;
  margin-top: 18vw;
  margin-left: 2vw;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}



.starred-12::before {
  position: absolute;
  content: "";
  height: 15vw;
  width: 15vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(./img/star-black.svg);
  z-index: 3;
  margin-top: -8vw;
  margin-left: -24vw;
  -webkit-transform: rotate(101deg);
  -moz-transform: rotate(101deg);
  -ms-transform: rotate(101deg);
  -o-transform: rotate(101deg);
  transform: rotate(101deg);
}



.starred-13::before {
  position: absolute;
  content: "";
  height: 15vw;
  width: 15vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(./img/star-black.svg);
  z-index: 3;
  margin-top: 0vw;
  margin-left: 3vw;
  -webkit-transform: rotate(101deg);
  -moz-transform: rotate(101deg);
  -ms-transform: rotate(101deg);
  -o-transform: rotate(101deg);
  transform: rotate(101deg);
}


.starred-14::before {
  position: absolute;
  content: "";
  height: 15vw;
  width: 15vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(./img/star-black.svg);
  z-index: 3;
  margin-top: 0vw;
  margin-left: -7.5vw;
  -webkit-transform: rotate(17deg);
  -moz-transform: rotate(17deg);
  -ms-transform: rotate(17deg);
  -o-transform: rotate(17deg);
  transform: rotate(17deg);
}



.starred-15::before {
  position: absolute;
  content: "";
  height: 15vw;
  width: 15vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(./img/star-black.svg);
  z-index: 3;
  margin-top: 13vw;
  margin-left: -11vw;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}


.starred-16::after {
  position: absolute;
  content: "";
  height: 15vw;
  width: 15vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(./img/star-black.svg);
  z-index: 3;
  margin-top: 0vw;
  margin-left: 9.5vw;
  -webkit-transform: rotate(13deg);
  -moz-transform: rotate(13deg);
  -ms-transform: rotate(13deg);
  -o-transform: rotate(13deg);
  transform: rotate(13deg);
}


.starred-17::before {
  position: absolute;
  content: "";
  height: 15vw;
  width: 15vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(./img/star-black.svg);
  z-index: 5;
  margin-top: 6vw;
  margin-left: -10.5vw;
  -webkit-transform: rotate(83deg);
  -moz-transform: rotate(83deg);
  -ms-transform: rotate(83deg);
  -o-transform: rotate(83deg);
  transform: rotate(83deg);
}

.starred-18::after {
  position: absolute;
  content: "";
  height: 15vw;
  width: 15vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(./img/star-black.svg);
  z-index: 5;
  margin-top: 4vw;
  margin-left: 12vw;
  -webkit-transform: rotate(83deg);
  -moz-transform: rotate(83deg);
  -ms-transform: rotate(83deg);
  -o-transform: rotate(83deg);
  transform: rotate(83deg);
}


.starred-19::after {
  position: absolute;
  content: "";
  height: 15vw;
  width: 15vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(./img/star-black.svg);
  z-index: 5;
  margin-top: 5vw;
  margin-left: 1vw;
  -webkit-transform: rotate(83deg);
  -moz-transform: rotate(83deg);
  -ms-transform: rotate(83deg);
  -o-transform: rotate(83deg);
  transform: rotate(83deg);
}



.starred-20::before {
  position: absolute;
  content: "";
  height: 15vw;
  width: 15vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(./img/star-black.svg);
  z-index: 5;
  margin-top: 40vw;
  margin-left: 0vw;
  -webkit-transform: rotate(183deg);
  -moz-transform: rotate(183deg);
  -ms-transform: rotate(183deg);
  -o-transform: rotate(183deg);
  transform: rotate(183deg);
}


.starred-21::before {
  position: absolute;
  content: "";
  height: 15vw;
  width: 15vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(./img/star-black.svg);
  z-index: 5;
  margin-top: 23vw;
  margin-left: -14vw;
  -webkit-transform: rotate(183deg);
  -moz-transform: rotate(183deg);
  -ms-transform: rotate(183deg);
  -o-transform: rotate(183deg);
  transform: rotate(183deg);
}



.starred-22::before {
  position: absolute;
  content: "";
  height: 15vw;
  width: 15vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(./img/star.svg);
  z-index: 5;
  margin-top: 3vw;
  margin-left: -20vw;
  -webkit-transform: rotate(38deg);
  -moz-transform: rotate(38deg);
  -ms-transform: rotate(38deg);
  -o-transform: rotate(38deg);
  transform: rotate(38deg);
}



.starred-23::before {
  position: absolute;
  content: "";
  height: 15vw;
  width: 15vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(./img/star.svg);
  z-index: 5;
  margin-top: -7vw;
  margin-left: 78vw;
  -webkit-transform: rotate(38deg);
  -moz-transform: rotate(38deg);
  -ms-transform: rotate(38deg);
  -o-transform: rotate(38deg);
  transform: rotate(38deg);
}



.starred-24::after {
  position: absolute;
  content: "";
  height: 15vw;
  width: 15vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(./img/star.svg);
  z-index: 5;
  margin-top: -8vw;
  margin-left: 37vw;
  -webkit-transform: rotate(14deg);
  -moz-transform: rotate(14deg);
  -ms-transform: rotate(14deg);
  -o-transform: rotate(14deg);
  transform: rotate(14deg);
}


.starred-25::after {
  position: absolute;
  content: "";
  height: 15vw;
  width: 15vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(./img/star.svg);
  z-index: 5;
  margin-top: -3vw;
  margin-left: 8vw;
  -webkit-transform: rotate(28deg);
  -moz-transform: rotate(28deg);
  -ms-transform: rotate(28deg);
  -o-transform: rotate(28deg);
  transform: rotate(28deg);
}


.starred-26::before {
  position: absolute;
  content: "";
  height: 15vw;
  width: 15vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(./img/star.svg);
  z-index: 5;
  margin-top: -2vw;
  margin-left: -18vw;
  -webkit-transform: rotate(28deg);
  -moz-transform: rotate(28deg);
  -ms-transform: rotate(28deg);
  -o-transform: rotate(28deg);
  transform: rotate(28deg);
}




.starred-27::after {
  position: absolute;
  content: "";
  height: 15vw;
  width: 15vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(./img/star.svg);
  z-index: 5;
  margin-top: 0vw;
  margin-left: -16vw;  
  -webkit-transform: rotate(118deg);
  -moz-transform: rotate(118deg);
  -ms-transform: rotate(118deg);
  -o-transform: rotate(118deg);
  transform: rotate(118deg);
}


.starred-28::before {
  position: absolute;
  content: "";
  height: 15vw;
  width: 15vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(./img/star.svg);
  z-index: 5;
  margin-top: 38vw;
  margin-left: 85vw;
  -webkit-transform: rotate(125deg);
  -moz-transform: rotate(125deg);
  -ms-transform: rotate(125deg);
  -o-transform: rotate(125deg);
  transform: rotate(125deg);
}